<HeaderDiscount></HeaderDiscount>
<div class=" header-area">
    <div class=" header">
        <div class="header-item menu">
            <div class=" header-button">
                <i class="fa-solid fa-bars"></i>
            </div>
            
        </div>
        <div class="header-item logo">
            <img  src="https://www.svgrepo.com/show/217771/shopping-logo.svg" background: white  width="50" height="50">
        </div>
        <div class="header-item catalog">
            <i class="fa-brands fa-buromobelexperte"></i>
            <p>CATALOGE</p>
        </div>
        <div class="header-item search-area">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input/>
            <button>Search</button>
        </div>
        <div class="header-item language">
            
            <div>UA</div>
            <div>EN</div>
        </div>
        <div class="header-item profile">
            <div class=" header-button">
                <i class="fa-solid fa-user"></i>
            </div>
           
        </div>
        <div class="header-item cart">
            <div class=" header-button">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            
        </div>
    </div>
</div>

@code {

}
