
<aside class="Main-SideBar">

    <div class="Main-Categories-SideBar">

        <ul class="Menu-Categories">

            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-computer fa-xl"></i>
                    Комп'ютери та ноутбуки
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-mobile fa-xl"></i>
                    Смартфони, ТВ, Електроніка
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-headphones fa-xl"></i>
                    Товари для геймерів
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-kitchen-set fa-xl"></i>
                    Битова техніка
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-house fa-xl"></i>
                    Товари для дому
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-car fa-xl"></i>
                    Інструменти и автотовари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-faucet-drip fa-xl"></i>
                    Сантехника та ремонт
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-brands fa-pagelines fa-xl"></i>
                    Дача, сад та огород
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-dumbbell fa-xl"></i>
                    Спорт и захоплення
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    Одяг, обув та прикраси
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-regular fa-face-grin-stars fa-xl"></i>
                     Краса та здоровье
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-baby-carriage fa-xl"></i>
                    Дитячі товари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-otter fa-xl"></i>
                    Зоотовари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-print fa-xl"></i>
                    Офіс, школа, книги
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-wine-bottle fa-xl"></i>
                    Алкогольні напої та продукти
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-flask-vial fa-xl"></i>
                    Битова хімія
                </a>
            </li>
        </ul>
    </div>

    <div class="Main-help-SideBar">

        <ul class="Menu-helps">

            <li class="Menu-help">
                <a href="">

                    <i class="fa-regular fa-circle-question fa-xl"></i>

                    Довідковий центр
                </a>
            </li>
            <li class="Menu-help">
                <a href="">

                    <i class="fa-regular fa-comments fa-xl"></i>

                    Чат підтримки
                </a>
            </li>
            <li class="Menu-help">
                <a href="">

                    <i class="fa-solid fa-shop fa-xl"></i>

                    Наші магазини
                </a>
            </li>
        </ul>
    </div>




</aside>


@code {

}
