
<aside class="Main-SideBar">

    <div class="Main-Categories-SideBar">

        <ul class="Menu-Categories">

            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-computer fa-xl"></i>
                    Комп'ютери та ноутбуки
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-mobile fa-xl"></i>
                    Смартфони, ТВ, Електроніка
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-headphones fa-xl"></i>
                    Товари для геймерів
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-kitchen-set fa-xl"></i>
                    Битова техніка
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-house fa-xl"></i>
                    Товари для дому
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-car fa-xl"></i>
                    Інструменти и автотовари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-faucet-drip fa-xl"></i>
                    Сантехника та ремонт
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-brands fa-pagelines fa-xl"></i>
                    Дача, сад та огород
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-dumbbell fa-xl"></i>
                    Спорт и захоплення
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    Одяг, обув та прикраси
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-regular fa-face-grin-stars fa-xl"></i>
                     Краса та здоровье
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-baby-carriage fa-xl"></i>
                    Дитячі товари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-otter fa-xl"></i>
                    Зоотовари
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-print fa-xl"></i>
                    Офіс, школа, книги
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-wine-bottle fa-xl"></i>
                    Алкогольні напої та продукти
                </a>
            </li>
            <li class="main-category">
                <a href="">
                    <i class="fa-solid fa-flask-vial fa-xl"></i>
                    Битова хімія
                </a>
            </li>
        </ul>
    </div>

    <div class="Main-help-SideBar">

        <ul class="Menu-helps">

            <li class="Menu-help">
                <a href="">

                    <i class="fa-regular fa-circle-question fa-xl"></i>

                    Довідковий центр
                </a>
            </li>
            <li class="Menu-help">
                <a href="">

                    <i class="fa-regular fa-comments fa-xl"></i>

                    Чат підтримки
                </a>
            </li>
            <li class="Menu-help">
                <a href="">

                    <i class="fa-solid fa-shop fa-xl"></i>

                    Наші магазини
                </a>
            </li>
        </ul>

        <div class="Menu-Welcome-SideBar">

            <h2 class="Welcome"> Ласкаво просимо</h2>
            <p class="Welcome"> Увійдіть, щоб отримувати рекомендації, персональні бонуси та знижки.</p>
            <button class="button-Welcome">
                <b>Увійдіть до особистого кабінету</b>
            </button>

        </div>
    </div>


    <div class="Main-Social-SideBar">

        <h3 class="main-social-head">Ми у соціальних мережах</h3>

        <ul class="main-social-list">

            <li class="icon-social">
                <a class="Facebook" href="https://www.facebook.com/rozetka.ua" title="Facebook" aria-label="Facebook">
                    <i class="fa-brands fa-square-facebook fa-2xl" style="color: #0765ff;"></i>
                </a>
            </li>
            <li class="icon-social">
                <a class="Twitter" href="https://twitter.com/rozetka_ua" title="Twitter" aria-label="Twitter">
                    <i class="fa-brands fa-square-twitter fa-2xl" style="color: #8ad8ff;"></i>
                </a>
            </li>
            <li class="icon-social">
                <a class="YouTube" href="https://www.youtube.com/channel/UCr7r1-z79TYfqS2IPeRR47A" title="YouTube" aria-label="YouTube">
                    <i class="fa-brands fa-square-youtube fa-2xl" style="color: #b93737;"></i>
                </a>
            </li>
            <li class="icon-social">
                <a class="Instagram" href="https://www.instagram.com/rozetkaua/" title="Instagram" aria-label="Instagram">
                    <i class="fa-brands fa-square-instagram fa-2xl" style="color: #b84bce;"></i>
                </a>
            </li>
            <li class="icon-social">
                <a class="Viber" href="https://invite.viber.com/?g2=AQB9mwM%2F5f%2FxJUlMxP4V9flr2%2BvXTC1MpxdGFZ0P6d%2Fs6Ws%2FFe%2FQtLiZwA4E28sj&lang=ru" title="Viber" aria-label="Viber">
                    <i class="fa-brands fa-viber fa-2xl" style="color: #665cab;"></i>
                </a>
            </li>
            <li class="icon-social">
                <a class="Telegram" href="https://t.me/rrozetka" title="Telegram" aria-label="Telegram">
                    <i class="fa-brands fa-telegram fa-2xl" style="color: #28a7e8;"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="Main-Block-SideBar">

        <div class="Block-Info">

            <h3>Інформація про компанію</h3>

            <ul class="Info">
                <li class="Info-text">
                    <a href="">Про нас</a>
                </li>
                <li class="Info-text">
                    <a href="">Вакансії</a>
                </li>
                <li class="Info-text">
                    <a href="">Контакти</a>
                </li>
                <li class="Info-text">
                    <a href="">Всі категорії</a>
                </li>
            </ul>
        </div>

        <div class="Block-Info">
            <h3>Допомога</h3>

            <ul class="Info">
                <li class="Info-text">
                    <a href="">Доставка та оплата</a>
                </li>
                <li class="Info-text">
                    <a href="">Кредит</a>
                </li>
                <li class="Info-text">
                    <a href="">Гарантія</a>
                </li>
                <li class="Info-text">
                    <a href="">Повернення товару</a>
                </li>
                <li class="Info-text">
                    <a href="">Сервісні центри</a>
                </li>
            </ul>
        </div>

        <div class="Block-Info">
            <h3>Сервіси</h3>

            <ul class="Info">
                <li class="Info-text">
                    <a href="">Бонусний рахунок</a>
                </li>
                <li class="Info-text">
                    <a href="">Подарункові сертефікати</a>
                </li>
                <li class="Info-text">
                    <a href="">Обмін</a>
                </li>
                <li class="Info-text">
                    <a href="">Корпоративним клієнтам</a>
                </li>
            </ul>
        </div>

        <div class="Block-Info">
            <h3>Партнери</h3>

            <ul class="Info">
                <li class="Info-text">
                    <a href="">Продавати на сайті</a>
                </li>
                <li class="Info-text">
                    <a href="">Співпраця з нами</a>
                </li>
                <li class="Info-text">
                    <a href="">Франчайзинг</a>
                </li>
                <li class="Info-text">
                    <a href="">Оренда приміщень</a>
                </li>
            </ul>
        </div>
    </div>



</aside>


@code {

}
