@using InternetShop.Models
@using System

<div class="product-area">
    @foreach (var product in Products)
    {
        <ProductCard Product="product" />
    }
</div>

@code {
    [Parameter]
    public List<Product> Products { get; set; }

    protected override void OnInitialized()
    {
        Products = GenerateProductList(20);
    }

    private List<Product> GenerateProductList(int count)
    {
        var productList = new List<Product>();

        var random = new Random();
        for (int i = 0; i < count; i++)
        {
            var product = new Product
                {
                    Title = $"Товар {i + 1}",
                    Price = (decimal)(random.NextDouble() * 100)
                };

            productList.Add(product);
        }

        return productList;
    }
}