.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 10px 10px;

    .product-image {
    margin: 15px;
    }

    .product-details {
        padding: 20px;

        .product-title {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .product-description {
            color: #666;
            margin-bottom: 15px;
        }

        .product-price {
            font-weight: bold;
            font-size: 18pt;
            color: #333;
            margin-bottom: 15px;
            display: block;
        }
    }
}
