.product-card {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 314px;

    .image-container {
        display: flex;
        height: 60%;
        animation: show 0.3s ease-out;

        img {
            margin: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .image-container.hovered {
        display: none;
    }

    &:hover {
        .image-container {
            display: none;
        }

        .image-container.hovered {
            display: flex;
        }
    }

    @keyframes show
    {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .product-details {
        height: 20%;
        overflow: hidden;

        .product-title {
            font-size: 12pt;
            margin-bottom: 10px;
        }

        .product-price {
            height: 20%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .product-price-label {
            }
        }
    }
}
