@using InternetShop.Models;

<div class="product-card">
    <img class="product-image" src="@Product.Photos[currentPhotoIndex]" alt="Product Image"
    @onmouseover="HandleMouseOver" @onmouseout="HandleMouseOut">

    <div class="product-details">
        <h2 class="product-title">@Product?.Title</h2>
        <span class="product-price">@Product?.Price ₴</span>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }

    private int currentPhotoIndex = 0;

    private void HandleMouseOver()
    {
        // При наведении изменяем индекс фото
        if (Product != null && Product.Photos.Length > 1)
        {
            currentPhotoIndex = (currentPhotoIndex + 1) % Product.Photos.Length;
            InvokeAsync(StateHasChanged);
        }
    }

    private void HandleMouseOut() 
    {
        //Сброс индекса
        currentPhotoIndex = 0; 
        InvokeAsync(StateHasChanged);
    }
}