.product-card {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    position: relative;

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .product-image {
        width: 135px;
        height: 135px;
        transition: opacity 0.3s ease-in-out;
    }

    .product-details {
        padding: 15px;
        box-sizing: border-box;
        text-align: left;

        .product-title {
            font-size: 12pt;
            margin-bottom: 10px;
        }

        .product-price {
            font-weight: bold;
            font-size: 20pt;
            color: #333;
            margin-bottom: 15px;
            display: block;
        }
    }
}
