@using InternetShop.Models

<div class="product-area">
    @foreach (var product in Products.Take(displayedProductCount))
    {
        <ProductCard Product="product" />
    }
</div>

@if (displayedProductCount < Products.Count)
{
    <div class="show-more-button">
        <div @onclick="ShowMore">Показать еще ↓</div>
    </div>
}

@code {
    [Parameter]
    public List<Product>? Products { get; set; }

    private int displayedProductCount = 10; // Начальное количество отображаемых товаров

    protected override void OnInitialized()
    {
        Products = GenerateProductList(22);
    }

    private List<Product> GenerateProductList(int count)
    {
        var productList = new List<Product>
        {
            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-858)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-851)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-852)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content2.rozetka.com.ua/goods/images/preview/330083688.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/330083689.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-857)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-854)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test Test TestTestTest Test TestTestTestTest TestмTest",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },
        };

        return productList;
    }

    private void ShowMore()
    {
        displayedProductCount = Products.Count; // Показать все оставшиеся товары
    }
}
