@using InternetShop.Models;

<div class="product-card">
    <div class="image-container">
        <img class="product-background-image" src="@Product.Photos[currentPhotoIndex + 1]" alt="Background Image">
        <img class="product-image" src="@Product.Photos[currentPhotoIndex]" alt="Product Image">
    </div>

    <div class="product-details">
        <h2 class="product-title">@Product?.Title</h2>
        <span class="product-price">@Product?.Price ₴</span>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }

    private int currentPhotoIndex = 0;
}