<div class="proposition-area">
    <div class="product-area @(Show? "": "hiden")">
        @foreach (var product in Products)
        {
            <div class="product-card">
                <ProductCard Product="product" />
            </div>
        }
    </div>
</div>
@if (!Show)
{
    <div class="show-more-button">
        <button @onclick="ShowAllProducts">Показать еще ↓</button>
    </div>
}

@code {
    public bool Show { get; set; }
    List<Product> Products = new List<Product>
    {
            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-858)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-851)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-852)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content2.rozetka.com.ua/goods/images/preview/330083688.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/330083689.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-857)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://content.rozetka.com.ua/goods/images/preview/367123263.jpg",
                    "https://content2.rozetka.com.ua/goods/images/preview/367123264.jpg"
                },
                Title = $"Навушники Hator Hyperpunk 2 Wireless Tri-mode Black/Mint (HTA-854)",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test Test TestTestTest Test TestTestTestTest TestмTest",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            },

            new Product
            {
                Photos = new string[] {
                    "https://via.placeholder.com/145x135/",
                    "https://via.placeholder.com/135x135/"
                },
                Title = $"Test",
                Price = 2799,
            }
    };

    public void ShowAllProducts()
    {
        Show = true;
    }
}
