.product-card {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;

    .product-image {
        margin: 15px;
        width: 135px;
        height: 135px;
    }

    .product-details {
        padding: 20px;

        .product-title {
            font-size: 12pt;
            margin-bottom: 20px;
        }

        .product-price {
            font-weight: bold;
            font-size: 20pt;
            color: #333;
            margin-bottom: 15px;
            display: block;
        }
    }
}
