<div class="product-card">
    <div class="image-container">
        <img class="product-image" src="@Product.Photos[0]" alt="Product Image">
    </div>
    <div class="image-container hovered">
        <img class="product-image" src="@Product.Photos[1]" alt="Product Image">
    </div>

    <div class="product-details">
        <p class="product-title">@Product?.Title</p>
    </div>
    <div class="product-price">
        <div class="product-price-area">
            <p class="product-price-label">@Product?.Price ₴</p>
            <p class="product-price-label">@Product?.Price ₴</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
