@inherits LayoutComponentBase

<PageTitle>InternetShop</PageTitle>
<Header></Header>
<table>
 <tr> 
         <td> <SideBarArea> </SideBarArea> </td>
        <th class="slider"> <InternetShop.Shared.Slider.Slider></InternetShop.Shared.Slider.Slider> </th> 
 </tr>
</table>
@* <InternetShop.Shared.Slider.Slider></InternetShop.Shared.Slider.Slider>
<SideBarArea> </SideBarArea> *@ 

<div class="page">
    @Body
</div>
