@inherits LayoutComponentBase

<PageTitle>InternetShop</PageTitle>
<Header></Header>
@* <InternetShop.Shared.Slider.Slider></InternetShop.Shared.Slider.Slider> *@
@* <InternetShop.Shared.Slider.Slider></InternetShop.Shared.Slider.Slider> *@
<div class="page">
    @Body
</div>
