
.slider {
    width: 600px;
    display: flex;
    margin-left: 500px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .card {
        scroll-snap-align:start;
        scroll-snap-stop:always;
        img {
            width: 600px;
        }
    }
}
