.slider-area {
    position: relative;
    height: max-content;
    width: 1160px;
    margin-top: 20px;
    margin-left: 20px;

    .slider {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;


        &::-webkit-scrollbar {
            display: none;
        }

        .card {
            position: relative;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            





            img {

                max-width:100%/3;
               
            }
        }
    }

    .slider-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        .dot {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: grey;
            cursor: pointer;
        }

        .dot.active {
            background-color: aquamarine;
        }
    }

    .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .prev-btn {
        width: 35px;
        height: 56px;
        left: 10px;
        background-image: url('picture/LEFT.png');
    }

    .next-btn {
        width: 35px;
        height: 56px;
        right: 10px;
        background-image: url('picture/righ.png');
    }

    &:hover .prev-btn,
    &:hover .next-btn,
    &:hover .slider-dots {
        opacity: 1;
    }
}
