@inject IJSRuntime js
<div class="slider" @ref="slider">
    @foreach (var slide in slides)
    {
        <div class="card">

            <img src="@slide" />

        </div>
    }
    
    
</div>
@code {
    ElementReference slider;
    int index = 0;
    string[] slides = new string[]
        {
        "picture/slider1.jpg",
        "picture/slider2.jpg"
        };

}
