@page "/"

<PageTitle>Index</PageTitle>

<div class="page-area">
    <div class="sidebar">
        <SideBarArea> </SideBarArea>
    </div>
    <div class="slider">
        <Slider></Slider>
    </div>
    
   
</div>
 
  



